[submodule "private-resources/sphinx_rtd_theme"]
	path = private-resources/sphinx_rtd_theme
	url = git@github.com:rtfd/sphinx_rtd_theme.git
[submodule "public-resources/sphinx_rtd_theme"]
	path = public-resources/sphinx_rtd_theme
	url = git@github.com:rtfd/sphinx_rtd_theme.git
