span.badge.newc {
    position: relative;
    left: 5px;
    font-weight: 300;
    font-size: 0.8rem;
    color:  #ffffff;
    background-color: #26a69a;
    border-radius: 2px;
    padding: 2px 6px;
}

span.badge.unfinished {
    position: relative;
    left: 5px;
    font-weight: 300;
    font-size: 0.8rem;
    color:  #ffffff;
    background-color: #ef5350;
    border-radius: 2px;
    padding: 2px 6px;
}

span.badge.construction {
    position: relative;
    left: 5px;
    font-weight: 300;
    font-size: 0.8rem;
    color:  #666666;
    background-color: #ffee58;
    border-radius: 2px;
    padding: 2px 6px;
}

p.caption {
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
    margin-top: 24px;
}

.wy-side-nav-search, .wy-nav-top {
    background-color: #3AA7A3
}

.wy-body-for-nav, body {
    background-color: #FFFDEA
}

